@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:"Poppins", sans-serif;
}
body{
        background: linear-gradient(to right, purple,indigo);
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: 14px;
}
.form-control{
        position: relative;
}
.form-container{
        width: 350px;
        background:rgba(0,0,0,0.3);
        padding: 20px;
        height: 440px;
}
.form-control input{
        display: block;
        width: 100%;
        margin: 5px auto 2px auto; 
        font-size: 14px;
        font-weight: bold;
        padding: 5.5px;
        outline: none;
        background: #f4f4f4;
        border: 2px solid #f4f4f4;
        color: black;
        border-radius: 2px;
}
.form-container input::placeholder{
        color: #555;
}
h2{
        margin-bottom: 10px;
}
.form-control.success input{
        border-color: #09c372;
}
.form-control.error input{
        border-color: red;
}
.form-control .error{
        color: red;
        font-size: 10px;
        height: 13px;
}
label,h2{
        color: #f4f4f4;
        font-weight: bold;
}
#btnEl{
        float: right;
        background: linear-gradient(to right, purple,indigo);
        color: #fff;
        border: none;
        padding: 8px;
        border-radius: 3px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
        cursor: pointer;
}
.form-control #passwordToggle{
        position: absolute;
        padding: 3px;
        right: 5px;
        top:32px;  
        background: #555;
        color: white;
        border-radius: 2px; 
}
